 <div class="media well-small">
                <a class="pull-left" href="#">
                    <i class="icon-3x glyphicon-alarm"></i>
                </a>
      <div class="media-body">
          <h4 class="media-heading"><span class="text-warning">Ooooohps</span> </h4>
          <p class="text-info">Sorry, but the record does not exist at this time</p>
      </div>
</div>
