	<div class="page-header">
	    <div class="pull-left">
	        <h1>Dashboard</h1>
	    </div>
	    <div class="pull-right">
	   
	        <ul class="stats">
	            <li class='satgreen'>
	                <i class="fa fa-money"></i>
	                <div class="details">
	                    <span class="big">@ViewBag.MemberCount</span>
	                    <span>Registrants</span>
	                </div>
	            </li>
	            <li class='lightred'>
	                <i class="fa fa-calendar"></i>
	                <div class="details">
	                    <span class="big">@DateTime.Now.ToString("MMMM - yyyy")</span>
	                    <span>@DateTime.Now.DayOfWeek.ToString()</span>
	                </div>
	            </li>
	        </ul>
	    </div>
	</div>
