@using TwitterBootstrapMVC
@model YouthConference.Models.ViewModels.CountryViewModel


<div class="control-group">
    @Html.Bootstrap().LabelFor(m => m.Name).ShowRequiredStar(true).HtmlAttributes(new{@class="control-label"})
    <div class="controls">
        @Html.Bootstrap().TextBoxFor(m => m.Name).Placeholder("Name").Size(InputSize.XLarge)
        <br/>
        <span class="text-error">
            @Html.ValidationMessageFor(m => m.Name)
        </span>
    </div>
</div>



    @Html.Bootstrap().SubmitButton().Text("Save").IconAppend(Icons.folder_open).Style(ButtonStyle.Primary)
