<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Youth Conference Kenya!</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/Content/register.css" rel="stylesheet" />
        <link href="~/Content/autocomplete.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.js"></script>

</head>
    <body>
        @RenderBody()
        <script src="~/Scripts/ref/register.js"></script>
        <script src="~/Scripts/ref/jquery-color.js"></script>
        <script src="~/Scripts/ref/raphael.js"></script>
        <script src="~/Scripts/ref/jquery.autocomplete.js"></script>
        <script src="~/Scripts/ref/countries.en.js"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    </body>
</html>
